// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Black
$black-primary-color: black;
$black-secondary-color: white;
$black-third-color: grey;

//Palette Orange
$orange-primary-color: orange;
$orange-secondary-color: rgb(201, 130, 0);
$orange-third-color: rgb(77, 50, 0);
