// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Black
$black-primary-color: black;
$black-secondary-color: white;
$black-third-color: grey;
$black-fourth-color: rgb(197, 197, 197);
$black-transparent-color: rgba(0, 0, 0, 0.514);

//Palette Orange
$orange-primary-color: orange;
$orange-secondary-color: rgb(201, 130, 0);
$orange-third-color: rgb(77, 50, 0);
$orange-fourth-color: rgb(143, 0, 0);
$orange-crawl-color: #F7C110;

