.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black-fourth-color;
  border-bottom: 4px solid black;

  .about__title {
    font-family: "Gemunu Libre", sans-serif;
    font-weight: bold;
    padding: 20px;
    font-size: 36px;
  }

  .about__image {
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;

    @include desktop {
      width: 30%;
    }
    @include tablet {
      width: 30%;
    }
  }

  .about__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px;

    li {
      padding: 8px;

      p {
        font-family: "Roboto";

        &::before {
          content: "🌑";
          padding-right: 6px;
        }
      }
      a {
        text-decoration: none;
        color: $orange-primary-color;

        &:hover {
          color: $orange-third-color;
        }
        &:before {
          content: "🔗";
          padding-right: 6px;
        }
      }
    }
  }
}
