@charset 'utf-8';

//utilities
@import "./utilities/colors";
@import "./utilities/responsive";

//block - layouts
@import "./block/grid";
@import "./block/header";
@import "./block/about";
@import "./block/gallery";
@import "./block/contact";
@import "./block/footer";

//base
@import "./base/typo";
@import "./base/reset";
@import "./base/normalize";
